

table {
  border: 0;
  border-collapse: collapse;
  font-size: 14px;

  caption {
    font-family: ok_bold;
    font-size: 20px;
    margin: 10px;

  }
  thead {
    background: $accent-bright;
  }
  tbody tr {
    background: $accent-light;
    &:nth-child(even) {
      background: $primary;
    }
  }
  td, th {
    padding:5px;
  }
}


